
.messages{
    display: flex;
    flex-direction: row;
    background-color: aliceblue;
    margin-bottom: 5px;
}

.messages-own{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 5px;
}

.messagesWrapper
{
    color: white;
}

.messageContainer{
    display: flex;
    width: 60%;
    flex-direction: column;
}


.message-own{
    background-color: rgb(0, 81, 255);
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    float: right;
}

.message{
    background-color: rgb(179, 179, 179);
    padding: 15px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    float: left;
}

.username{
    display: flex;
    flex-direction: row;
   float: left;
   width: fit-content;
}

.username-own{
    width: fit-content;
    float: right;
}

.profImgDiv{
    object-fit: cover;
    object-position: center;
}

.profImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-own{
    display: flex;
    align-items: center;
    gap: 5px;
    float: right;
}

.chat{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 5px;
    float: left;
}