.homeroom{
    width: 100%;
}
.homeroomWrapper{
    width: 100%;
    margin: 0;
}
.cardimg{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.card{
    position: relative;
    height: 30vh;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(65, 65, 65);
}
.city{
    position: absolute;
    font-size: 30px;
    bottom: 0%;
    color: white;
    left: 30%;
    align-items: center;
    justify-content: center;  
}

.card:hover{
    opacity: 0.8;
}
