
.chatContainer{
    height: 84vh;
    margin-top: 70px;
}

.chatWrapper{
    margin: 10px;
    display: flex;
}

.chatSidebar{
    background-color: rgb(255,213,204);
    width: 25%;
}

.chatTop{
    width: 55vw;
    height: 80vh;
    margin-top: 10px;
    background-color: white;
    padding: 10px;
    overflow: hidden;
    border-radius: 20px;
    margin-left: 10px;
}

.chatbox{
    height: 87vh;
    width: 100%;
    flex: 8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/bg5.jpg');
    background-position: center;
}

.chatBottom{
    margin-top: 10px;
    gap: 20px;
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.chatInput{
    width: 100%;
    margin: 2px;
    padding: 1.5em;
    border: 0px;
    border-radius: 10px;
    background-color: aliceblue;
}

.joinConvo{
    font-size: 80px;
}

.chatForm{
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.chat-btn {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    padding-right: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
  .chat-btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .chat-btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .chat-btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .chat-btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .chat-btn:hover span {
    transform: translateX(5em);
  }
  
  .chat-btn:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  ul{
    list-style: none;
    text-decoration: none;
  }
  
  .userListItem{
    font-size: 20px;
    margin: 5px;
    margin-right: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(252, 235, 231);
  }