.allroomDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0%;
}

.roomcard{
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(170, 170, 170);
    height: fit-content;
}

.roomcardWrapper{
    display: grid;
}

.roomDetails{
    width: 17rem;
    padding: 10px;
}

.roomImage{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.chatbtn{
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(0, 110, 255);
    border: 0;
    color: white;
    font-size: larger;
    padding: 10px;
}

.chatbtn:hover{
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(37, 132, 255);
    border: 0;
    color: white;
    font-size: larger;
    padding: 10px;
}

.roomDescription{
    height: 45px;
    overflow-y: hidden;
}

.roomLocation{
    height: 50px;
}

.btn-13 {
    float: right;
    margin: 5px;
    background-color: #1ccb2e;
    background-image: linear-gradient(315deg, rgb(43, 186, 133) 0%, #03c84b 74%);
    border: none;
    z-index: 1;
}

.custom-btn {
    width: 100px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}


