.room{
    width: 100%;
    height: calc(100vh - 60px);
    justify-content: center;
    margin-top: 100px;
    z-index: 2;
}

.roomWrapper{
    padding: 20px;
    column-gap: 20px;
    display: flex;
    
}

.roomCards{
    flex: 9;
    /* width: 100%; */
    /* height: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    
}

iframe{
    flex: 3;
    border-radius: 20px;
    border: 0;
    box-shadow: 0px 0px 10px rgb(129, 129, 129);
}

.maps{
    /* position: static; */
    height: 100vh;
}

.divider{
    width: 5px;
    background-color: rgb(230, 230, 230);
    border: 0;
}

.searchInput{
    width: 20%;
    margin-left: 8px;
}
.searchBar{
    margin: 10px 26px;
    
}

select,input {
    margin: 8px;
    /* styling */
    background-color: white;
    border: 2px solid black;
    border-radius: 26px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  
select.minimal {
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-radius: 24px;
    
  }
  
  select.minimal:focus {
    background-image:
      linear-gradient(45deg,  rgb(37, 132, 255) 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%,  rgb(37, 132, 255) 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
    border-color:  rgb(37, 132, 255);
    outline: 0;
  }
  
  .minimal{
    margin:10px 6px;
    width: 14%;
    padding:8px 12px;
  }
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
  }
  input.minimal{
    width: 10%;
    padding: 4px 10px;
  }

  #nofilter{
    margin-left: 16px;
    margin-top: 12px;
    padding: 8px 14px ;
    font-size: 12px;
    color: white;
    border-radius: 10px;
    background-color: rgb(109, 86, 241);
    border-radius: 10px;
    /* margin: 5px; */
    background-color: rgb(0, 110, 255);
    /* border: 0; */
    color: white;
    border: none;
    cursor: pointer;
    font-size: larger;
    /* padding: 10px; */
    
  }

  #nofilter:hover{
    background-color: rgb(37, 132, 255);

  }

  .priceRange{
    font-size:18px ;
    margin-left: 8px;
    margin-top: -14px;
  }